# torchtitan ref config, inheriting from trainer/config/ref/ref.yaml
defaults:
  # torchtitan optimizer config
  - ../optim@optim: torchtitan

  # torchtitan engine config
  - ../engine@torchtitan: torchtitan

  - ref

  # load the reference default config, then apply the fields in the current yaml
  - _self_

_target_: verl.workers.config.TorchTitanActorConfig

strategy: torchtitan

torchtitan:
  seed: ${oc.select:actor_rollout_ref.actor.torchtitan.seed,42}
  data_parallel_size: ${oc.select:actor_rollout_ref.actor.torchtitan.data_parallel_size,1}
  data_parallel_replicate_size: ${oc.select:actor_rollout_ref.actor.torchtitan.data_parallel_replicate_size,1}
  data_parallel_shard_size: ${oc.select:actor_rollout_ref.actor.torchtitan.data_parallel_shard_size,1}
  tensor_parallel_size: ${oc.select:actor_rollout_ref.actor.torchtitan.tensor_parallel_size,1}
  expert_parallel_size: ${oc.select:actor_rollout_ref.actor.torchtitan.expert_parallel_size,1}
  pipeline_parallel_size: ${oc.select:actor_rollout_ref.actor.torchtitan.pipeline_parallel_size,1}
  context_parallel_size: ${oc.select:actor_rollout_ref.actor.torchtitan.context_parallel_size,1}
  attn_type: ${oc.select:actor_rollout_ref.actor.torchtitan.attn_type,flex}
  forward_only: True
